<h2>Add user</h2>
<br>
<form action="/users/login" method="POST">
    <%- include('./partial_login_form.ejs') %>
    <button><a href="/users">Cancle</a></button>
    <button type="submit">Login</button>
</form>