<h2>Add user</h2>
<br />
<form action="/users/signup" method="POST">
    <%- include('./partial_register_form.ejs') %>
    <button><a href="/users">Cancle</a></button>
    <button type="submit">Add user</button>
</form>
