<div>
    <label>Username</label>
    <input type="text" name="username" value="<%= user.username %>">
</div>
<div>
    <label>Password</label>
    <input type="password" name="password" value="<%= user.password %>">
</div>
<div>
    <label>First Name</label>
    <input type="text" name="fname" value="<%= user.firstName %>">
</div>
<div>
    <label>Last Name</label>
    <input type="text" name="lname" value="<%= user.lastName %>">
</div>